<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Parramatta Road Local Air Quality, WestConnex Measurements</title>
    <meta name="description" content="How is the air quality around Parramatta and the WestConnex M4 construction?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    Hello world!
  </body>
</html>
