<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Parramatta Road Local Air Quality, WestConnex Measurements</title>
    <meta name="description" content="How is the air quality around Parramatta and the WestConnex M4 construction?">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>What is the air quality around Parramatta Road and the WestConnex M4 construction?</h1>
    <p>
      The air quality surrounding Parramatta Road is currently recorded at <%= @locations_count %> locations:
      <%= @locations.join(', ') %>.
    </p>
    <a href="/csv">Download the latest readings</a>
    <p>
      This information was collected by WestConnex Contractor EcoTech
      and first published by them at <a href='http://airodis.ecotech.com.au/westconnex/index.html'>http://airodis.ecotech.com.au/westconnex/index.html</a>.
    </p>
  </body>
</html>
